sudo: false
dist: trusty

git:
  depth: false

language: python

python: 
 - 3.6

cache: pip

install:
  - pip install -r requirements.txt
  # install testing requirements
  - pip install pytest==5.2.0 pytest-cov==2.5.1 pytest-pep8 coveralls

script:
  - python -m pytest --pep8 --cov=caliban_toolbox caliban_toolbox

after_success:
  - coveralls
