pandas>=0.23.3,<1
numpy>=1.14.5,<2
scipy>=1.1.0,<2
scikit-image>=0.13,<1
scikit-learn>=0.19.1,<1
jupyter>=1.0.0,<2
nbformat>=4.4.0,<5
imageio==2.5.0
requests>=2.21.0
boto3>=1.9.0
xarray==0.12.1
netCDF4==1.5.3
segmentation-mibi>=0.2.3
validators
