pandas==0.18.1
scikit-image==0.13.0
scikit-learn>=0.19.1,<1
tensorflow-gpu>=1.8.0,<2
requests
pyyaml
SimpleITK==0.10.0
mahotas==1.4.1
boto3
PyWavelets==0.4.0
scipy==0.19.0
simplejson==3.8.2
Pillow==3.3.1
centrosome==1.0.5
ipywidgets==5.2.2
joblib==0.10.2
pypng==0.0.18
opencv-python==3.2.0.7
jupyter
