pandas>=0.23.3,<1
numpy>=1.16.4,<2
scipy>=1.1.0,<2
scikit-image>=0.14.1,<=0.16.2
scikit-learn>=0.19.1,<1
jupyter>=1.0.0,<2
nbformat>=4.4.0,<5
imageio>=2.5.0,<3
requests>=2.21.0
boto3>=1.9.0
xarray==0.13.0
netCDF4==1.5.3
pathlib==1.0.1
deepcell-toolbox>=0.6.1
